*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#f7f9fb;

color:#333;

line-height:1.6;

}





.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px ;
    background:#fff;
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition: color 0.3s ease;
    padding:5px;
}

.nav-links > li > a:hover {
    background:rgb(211, 209, 209);
    text-decoration: underline 1px rgb(172, 171, 171);
}

/* Hide hamburger on desktop */
.hamburger{
    display:none;
    font-size:30px;
    background:none;
    border:none;
    cursor:pointer;
}



#organization > div > div.card.head {
    width:350px;
}

/* Mobile */
@media (max-width:768px){

    .navbar {
        display: flex;
        justify-content: space-between;
    }
    
    .hamburger{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:70px;
        left:0px;
        width:100%;
        background:#fff;
        box-shadow:0 5px 15px rgba(0,0,0,.1);
        padding:20px 10px;
        gap:15px;
        text-align:center;
    }

    .nav-links.active{
        display:flex;
    }




.hero h1{
    margin:0;
    font-size:2rem;

}

.hero h2 {
    font-size: 1.3rem;

}

.hero{

height:auto;
padding:80px 20px;

}

.hero-content > p {
    text-align: justify;
    max-width: 320px;
    color: rgb(90, 88, 88);
}

#about > p {
    
    text-align: justify;
}

.faq > details> p {
    text-align: justify;
    text-justify: inter-word;
}

.row{

flex-direction:column;

align-items:center;

}

#organization > div > div.card.head {
    width: 330px;
}

.card head > p {
    font-size: .8rem;

}

.card > h3 {
    font-size: 1rem;
}

footer {
    padding:5px;
    font-size: 0.8rem;
}
}

/* .navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 8%;

background:#006633;

color:white;

flex-wrap:wrap;

} */

.logo{

font-size:20px;

font-weight:700;

}

/* .navbar ul{

display:flex;

list-style:none;

gap:25px;

} */

/* .navbar a{

color:white;

text-decoration:none;

font-weight:500;

} */

.hero {
height:70vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:30px;
background-image: url('/OLS\ V2.jpg');
background-repeat: no-repeat;
color:rgb(37, 37, 37);
animation: switchPic linear infinite 13s;
}

@keyframes switchPic {
    from {
           background:linear-gradient(white);
         }
    75% {  
         background-image: url('/OLS\ V2.jpg');   
         background-position: center;
         background-size: cover; 
         background-repeat: no-repeat; 
    } 
    to {
         background-image: url('/OLS.jpg');
         background-position: center;
         background-size: cover;  
         background-repeat: no-repeat; 
        
    }   
 }


 .hero-content {
    animation: blinkContent linear infinite 13s;
 }

@keyframes blinkContent {
    from {
        
    }
    30% {
        visibility: hidden;
    }
    to {
        visibility: hidden;
    }
}



.hero h1{
color: rgb(23, 107, 28);
font-size:48px;
margin-bottom:10px;

}

.hero h2{

margin-bottom:20px;
color: rgb(24, 121, 29);
}

.hero p{
color: rgb(48, 47, 47);
max-width:700px;
margin:auto;
margin-bottom:30px;

}

.btn{

display:inline-block;

background:#D4AF37;

color:white;

padding:14px 28px;

border-radius:8px;

text-decoration:none;

font-weight:600;

}

.section{

padding:70px 10%;

}

.section h2{

text-align:center;

margin-bottom:35px;

color:#006633;

}

.section p{

max-width:850px;

margin:auto;

text-align:center;

}

.org-container{

display:flex;

flex-direction:column;

align-items:center;

margin-top:40px;

}

.card{

background:white;

padding:20px;

border-radius:10px;

width:250px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.head{

background:#006633;

color:white;

}

.line{

width:2px;

height:40px;

background:#006633;

}

.row{

display:flex;

gap:40px;

flex-wrap:wrap;

justify-content:center;

}

.faq{

max-width:850px;

margin:auto;

}

details{

background:white;

padding:18px;

margin-bottom:15px;

border-radius:8px;

box-shadow:0 5px 15px rgba(0,0,0,.06);

}

summary{

cursor:pointer;

font-weight:600;

color:#006633;

}

details p{

margin-top:15px;

text-align:left;

}

footer{

background:#004D26;

color:white;

text-align:center;

padding:25px;

margin-top:50px;

}

